@model StudentInformationSystem.Models.Student

@{
    ViewData["Title"] = "My Details";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">My Details</h1>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Student Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">Identity Number:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IdentityNumber)</dd>
                <dt class="col-sm-3">Student Number:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.StudentNumber)</dd>
                <dt class="col-sm-3">Name:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-3">Surname:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Surname)</dd>
                <dt class="col-sm-3">Gender:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Gender)</dd>
                <dt class="col-sm-3">Birth Date:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.BirthDate)</dd>
                <dt class="col-sm-3">Phone Number:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Email)</dd>
            </dl>
        </div>
    </div>
</div>
