@model StudentInformationSystem.Models.Student

@{
    ViewBag.Title = "My Grades";
}

<h2 class="text-center">My Grades</h2>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Student Information</h4>
                    <dl class="row">
                        <dt class="col-sm-3">Name:</dt>
                        <dd class="col-sm-9">@ViewBag.Student.Name</dd>
                        <dt class="col-sm-3">Identity Number:</dt>
                        <dd class="col-sm-9">@ViewBag.Student.IdentityNumber</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Grades</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Grade</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var grade in ViewBag.Grades)
                            {
                                <tr>
                                    <td>@grade.Code</td>
                                    <td>@grade.LessonName</td>
                                    <td>@grade.GradeValue</td>
                                </tr>
                            }
                            @if (ViewBag.Grades.Count == 0)
                            {
                                <tr>
                                    <td colspan="3">No grades available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
